/* general */

.eni-flex {
	display: flex;
	flex-direction: row;
}

.eni-block {
	display: block;
}

.eni-flex-column {
	flex-direction: column;
}

.eni-s-between {
	display: flex;
	justify-content: space-between;
}

.eni-j-center {
	display: flex;
  justify-content: center;
}

.eni-flex-item { 
	flex: 1;
}

.eni-text-center {
	text-align: center;
}

.eni-stretch {
	flex: 1 1 auto;
	align-items: stretch;
}

.eni-inline-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.eni-inline-item text {
	margin-right: 20px;
}

.eni-inline-item text:last-child {
	margin-right: 0px;
	margin-left: 20px;
}

/* % */
.eni-w3 {
  width: 3%;
}

.eni-w5 {
  width: 5%;
}

.eni-w10 {
  width: 10%;
}

.eni-w12 {
  width: 12%;
}

.eni-w15 {
  width: 15%;
}

.eni-w20 {
  width: 20%;
}

.eni-w35 {
  width: 35%;
}

.eni-w40 {
  width: 40%;
}

.eni-w45 {
  width: 45%;
}

/* page */
.common-page-head {
  display: flex;
  flex-wrap: wrap;
}

.common-page-head-title {
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	height: 30px;
	color: #007bff;
}

.eni-padding-wrap {
	padding: 10px;
	word-break: break-all;
}

.eni-white {
  color: #fff;
}

.eni-black {
  color: #000;
}

.eni-red {
	color:red
}

.eni-gray {
	color: #ccc;
}

.eni-text {
	font-size: 16px;
}

.eni-text-small {
	font-size: 14px;
}

.eni-title {
	font-size: 14px;
	font-weight: 400;
	width: 70px;
}

/* pop box */
.eni-pop-box {
  background-color: #000;
  font-size: 15px;
  color: #fff;
  padding: 5px;
}

/* margin padding */
.eni-common-mb {
	margin-bottom: 10px;
}

.eni-common-pb {
	padding-bottom: 10px;
}

.eni-common-pl {
	padding-left: 10px;
}

.eni-common-mt {
	margin-top: 10px;
}

.eni-common-ml {
	margin-left: 10px;
}

/* 背景色 */
.eni-bg-red {
	background: #F76260;
	color: #FFF;
}

.eni-bg-green {
	background: #09BB07;
	color: #FFF;
}

.eni-bg-blue {
	background: #007AFF;
	color: #FFF;
}

/* 标题 */
.eni-h1 {
	font-size: 80px;
	font-weight: 700;
}

.eni-h2 {
	font-size: 60px;
	font-weight: 700;
}

.eni-h3 {
	font-size: 48px;
	font-weight: 700;
}

.eni-h4 {
	font-size: 36px;
	font-weight: 700;
}

.eni-h5 {
	font-size: 28px;
  color: #007bff;
}

.eni-h6 {
	font-size: 24px;
  color: #007bff;
}

.eni-bold {
	font-weight: bold;
}

/* 文本溢出隐藏 */
.eni-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 竖向百分百按钮 */
.eni-btn-v {
	padding: 10px 0;
}

.eni-btn-v button {
	margin: 20px 0;
}

/* 表单 */
.eni-form-item {
	display: flex;
	width: 100%;
	padding: 10px 0;
}

.eni-form-item .title {
	padding: 10px 25px;
}

.eni-label {
	width: 210px;
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 20px;
}

.eni-input {
	padding: 8px 12px;
	font-size: 15px;
	border: 1px solid #ced4da;
	display: flex; 
	align-items: center;
	border-radius: 0.25rem;
}

.eni-textarea {
	padding: 8px 12px;
	font-size: 15px;
	flex: 1 1 auto;
	resize: vertical;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

.eni-normal-count {
	background-color: #e9ecef;
}

.eni-warning-count {
	background-color: red;
}

radio-group,
checkbox-group {
	width: 100%;
}

radio-group label,
checkbox-group label {
	padding-right: 20px;
}

.eni-form-item .with-fun {
	display: flex;
	flex-wrap: nowrap;
	background: #FFFFFF;
}

.eni-form-item .with-fun .eni-icon {
	width: 40px;
	height: 80px;
	line-height: 80px;
	flex-shrink: 0;
}

/* loadmore */
.eni-loadmore {
	height: 80px;
	line-height: 80px;
	text-align: center;
	padding-bottom: 30px;
}

/*数字角标*/
.eni-badge,
.eni-badge-default {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	padding: 3px 6px;
	color: #333;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, .15);
}

.eni-badge.eni-badge-inverted {
	padding: 0 5px 0 0;
	color: #929292;
	background-color: transparent
}

.eni-badge-primary {
	color: #fff;
	background-color: #007aff
}

.eni-badge-blue.eni-badge-inverted,
.eni-badge-primary.eni-badge-inverted {
	color: #007aff;
	background-color: transparent
}

.eni-badge-green,
.eni-badge-success {
	color: #fff;
	background-color: #4cd964;
}

.eni-badge-green.eni-badge-inverted,
.eni-badge-success.eni-badge-inverted {
	color: #4cd964;
	background-color: transparent
}

.eni-badge-warning,
.eni-badge-yellow {
	color: #fff;
	background-color: #f0ad4e
}

.eni-badge-warning.eni-badge-inverted,
.eni-badge-yellow.eni-badge-inverted {
	color: #f0ad4e;
	background-color: transparent
}

.eni-badge-danger,
.eni-badge-red {
	color: #fff;
	background-color: #dd524d
}

.eni-badge-danger.eni-badge-inverted,
.eni-badge-red.eni-badge-inverted {
	color: #dd524d;
	background-color: transparent
}

.eni-badge-purple,
.eni-badge-royal {
	color: #fff;
	background-color: #8a6de9
}

.eni-badge-purple.eni-badge-inverted,
.eni-badge-royal.eni-badge-inverted {
	color: #8a6de9;
	background-color: transparent
}

/*折叠面板 */
.eni-collapse-content {
	height: 0;
	width: 100%;
	overflow: hidden;
}

.eni-collapse-content.eni-active {
	height: auto;
}

/*卡片视图 */
.eni-card {
	background: #fff;
	border-radius: 8px;
	margin: 20px 0;
	position: relative;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.eni-card-content {
	font-size: 30px;
}

.eni-card-content.image-view {
	width: 100%;
	margin: 0;
}

.eni-card-content-inner {
	position: relative;
	padding: 30px;
}

.eni-card-footer,
.eni-card-header {
	position: relative;
	display: flex;
	min-height: 50px;
	padding: 20px 30px;
	justify-content: space-between;
	align-items: center;
}

.eni-card-header {
	font-size: 36px;
}

.eni-card-footer {
	color: #6d6d72;
}

.eni-card-footer:before,
.eni-card-header:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-card-header:after {
	top: auto;
	bottom: 0;
}

.eni-card-media {
	justify-content: flex-start;
}

.eni-card-media-logo {
	height: 84px;
	width: 84px;
	margin-right: 20px;
}

.eni-card-media-body {
	height: 84px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.eni-card-media-text-top {
	line-height: 36px;
	font-size: 34px;
}

.eni-card-media-text-bottom {
	line-height: 30px;
	font-size: 28px;
	color: #8f8f94;
}

.eni-card-link {
	color: #007AFF;
}

/* 列表 */
.eni-list {
	background-color: #FFFFFF;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.eni-list:after {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-list::before {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-list-cell {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.eni-list-cell-hover {
	background-color: #eee;
}

.eni-list-cell-pd {
	padding: 22px 30px;
}

.eni-list-cell-left {
	white-space: nowrap;
	font-size: 28px;
	padding: 0 30px;
}

.eni-list-cell-db,
.eni-list-cell-right {
	flex: 1;
}

.eni-list-cell::after {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	left: 30px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-list .eni-list-cell:last-child::after {
	height: 0px;
}

.eni-list-cell-last.eni-list-cell::after {
	height: 0px;
}

.eni-list-cell-divider {
	position: relative;
	display: flex;
	color: #999;
	background-color: #f7f7f7;
	padding: 15px 20px;
}

.eni-list-cell-divider::before {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-list-cell-divider::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-list-cell-navigate {
	font-size: 30px;
	padding: 22px 30px;
	line-height: 48px;
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.eni-list-cell-navigate {
	padding-right: 36px;
}

.eni-navigate-badge {
	padding-right: 50px;
}

.eni-list-cell-navigate.eni-navigate-right:after {
	font-family: uniicons;
	content: '\e583';
	position: absolute;
	right: 24px;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.eni-list-cell-navigate.eni-navigate-bottom:after {
	font-family: uniicons;
	content: '\e581';
	position: absolute;
	right: 24px;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.eni-list-cell-navigate.eni-navigate-bottom.eni-active::after {
	font-family: uniicons;
	content: '\e580';
	position: absolute;
	right: 24px;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.eni-collapse.eni-list-cell {
	flex-direction: column;
}

.eni-list-cell-navigate.eni-active {
	background: #eee;
}

.eni-list.eni-collapse {
	box-sizing: border-box;
	height: 0;
	overflow: hidden;
}

.eni-collapse .eni-list-cell {
	padding-left: 20px;
}

.eni-collapse .eni-list-cell::after {
	left: 52px;
}

.eni-list.eni-active {
	height: auto;
}

/* 三行列表 */
.eni-triplex-row {
	display: flex;
	flex: 1;
	width: 100%;
	box-sizing: border-box;
	flex-direction: row;
	padding: 22px 30px;
}

.eni-triplex-right,
.eni-triplex-left {
	display: flex;
	flex-direction: column;
}

.eni-triplex-left {
	width: 84%;
}

.eni-triplex-left .eni-title {
	padding: 8px 0;
}

.eni-triplex-left .eni-text,
.eni-triplex-left .eni-text-small {
	color: #999999;
}

.eni-triplex-right {
	width: 16%;
	text-align: right;
}

.eni-navigate-right.eni-media-list {
	padding-right: 74px;
}

.eni-pull-right {
	flex-direction: row-reverse;
}

.eni-pull-right>.eni-media-list-logo {
	margin-right: 0px;
	margin-left: 20px;
}

.eni-media-list-logo {
	height: 84px;
	width: 84px;
	margin-right: 20px;
}

.eni-media-list-logo image {
	height: 100%;
	width: 100%;
}

.eni-media-list-body {
	height: 84px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
}

.eni-media-list-text-top {
	width: 100%;
	line-height: 36px;
	font-size: 30px;
}

.eni-media-list-text-bottom {
	width: 100%;
	line-height: 30px;
	font-size: 26px;
	color: #8f8f94;
}

/* 九宫格 */
.eni-grid-9 {
	background: #f2f2f2;
	width: 750px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 2px solid #eee;
}

.eni-grid-9-item {
	width: 250px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid;
	border-right: 2px solid;
	border-color: #eee;
	box-sizing: border-box;
}

.no-border-right {
	border-right: none;
}

.eni-grid-9-image {
	width: 100px;
	height: 100px;
}

.eni-grid-9-text {
	width: 250px;
	line-height: 4px;
	height: 40px;
	text-align: center;
	font-size: 30px;
}

.eni-grid-9-item-hover {
	background: rgba(0, 0, 0, 0.1);
}

/* 上传 */
.eni-uploader {
	flex: 1;
	flex-direction: column;
}

.eni-uploader-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.eni-uploader-info {
	color: #B2B2B2;
}

.eni-uploader-body {
	margin-top: 16px;
}

.eni-uploader__files {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.eni-uploader__file {
	margin: 10px;
	width: 210px;
	height: 210px;
}

.eni-uploader__img {
	display: block;
	width: 210px;
	height: 210px;
}

.eni-uploader__input-box {
	position: relative;
	margin: 10px;
	width: 208px;
	height: 208px;
	border: 2px solid #D9D9D9;
}

.eni-uploader__input-box:before,
.eni-uploader__input-box:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #D9D9D9;
}

.eni-uploader__input-box:before {
	width: 4px;
	height: 79px;
}

.eni-uploader__input-box:after {
	width: 79px;
	height: 4px;
}

.eni-uploader__input-box:active {
	border-color: #999999;
}

.eni-uploader__input-box:active:before,
.eni-uploader__input-box:active:after {
	background-color: #999999;
}

.eni-uploader__input {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

/*问题反馈*/
.feedback-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	color: #8f8f94;
	font-size: 28px;
}

.feedback-star-view.feedback-title {
	justify-content: flex-start;
	margin: 0;
}

.feedback-quick {
	position: relative;
	padding-right: 40px;
}

.feedback-quick:after {
	font-family: uniicons;
	font-size: 40px;
	content: '\e581';
	position: absolute;
	right: 0;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.feedback-body {
	background: #fff;
}

.feedback-textare {
	height: 200px;
	font-size: 34px;
	line-height: 50px;
	width: 100%;
	box-sizing: border-box;
	padding: 20px 30px 0;
}

.feedback-input {
	font-size: 34px;
	height: 50px;
	min-height: 50px;
	padding: 15px 20px;
	line-height: 50px;
}

.feedback-uploader {
	padding: 22px 20px;
}

.feedback-star {
	font-family: uniicons;
	font-size: 40px;
	margin-left: 6px;
}

.feedback-star-view {
	margin-left: 20px;
}

.feedback-star:after {
	content: '\e408';
}

.feedback-star.active {
	color: #FFB400;
}

.feedback-star.active:after {
	content: '\e438';
}

.feedback-submit {
	background: #007AFF;
	color: #FFFFFF;
	margin: 20px;
}

/* input group */
.eni-input-group {
	position: relative;
	padding: 0;
	border: 0;
	background-color: #fff;
}

.eni-input-group:before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	content: '';
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-input-group:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2px;
	content: '';
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-input-row {
	position: relative;
	display: flex;
	flex-direction: row;
	font-size: 28px;
	padding: 22px 30px;
	justify-content: space-between;
}

.eni-input-group .eni-input-row:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 30px;
	height: 2px;
	content: '';
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.eni-input-row label {
	line-height: 70px;
}

/* tab bar */
.eni-tab-bar {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}

.eni-tab-bar .list {
	width: 750px;
	height: 100%;
}

.eni-swiper-tab {
	width: 100%;
	white-space: nowrap;
	line-height: 100px;
	height: 100px;
	border-bottom: 1px solid #c8c7cc;
}

.swiper-tab-list {
	font-size: 30px;
	width: 150px;
	display: inline-block;
	text-align: center;
	color: #555;
}

.eni-tab-bar .active {
	color: #007AFF;
}

.eni-tab-bar .swiper-box {
	flex: 1;
	width: 100%;
	height: calc(100% - 100px);
}

.eni-tab-bar-loading {
	padding: 20px 0;
}

/* comment */
.eni-comment {
	padding: 5px 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.eni-comment-list {
	flex-wrap: nowrap;
	padding: 10px 0;
	margin: 10px 0;
	width: 100%;
	display: flex;
}

.eni-comment-face {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	margin-right: 20px;
	flex-shrink: 0;
	overflow: hidden;
}

.eni-comment-face image {
	width: 100%;
	border-radius: 100%;
}

.eni-comment-body {
	width: 100%;
}

.eni-comment-top {
	line-height: 1.5em;
	justify-content: space-between;
}

.eni-comment-top text {
	color: #0A98D5;
	font-size: 24px;
}

.eni-comment-date {
	line-height: 38px;
	flex-direction: row;
	justify-content: space-between;
	display: flex !important;
	flex-grow: 1;
}

.eni-comment-date view {
	color: #666666;
	font-size: 24px;
	line-height: 38px;
}

.eni-comment-content {
	line-height: 1.6em;
	font-size: 28px;
	padding: 8px 0;
}

.eni-comment-replay-btn {
	background: #FFF;
	font-size: 24px;
	line-height: 28px;
	padding: 5px 20px;
	border-radius: 30px;
	color: #333 !important;
	margin: 0 10px;
}

/* swiper msg */
.eni-swiper-msg {
	width: 100%;
	padding: 12px 0;
	flex-wrap: nowrap;
	display: flex;
}

.eni-swiper-msg-icon {
	width: 50px;
	margin-right: 20px;
}

.eni-swiper-msg-icon image {
	width: 100%;
	flex-shrink: 0;
}

.eni-swiper-msg swiper {
	width: 100%;
	height: 50px;
}

.eni-swiper-msg swiper-item {
	line-height: 50px;
}

/* product */
.eni-product-list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
}

.eni-product {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.image-view {
	height: 330px;
	width: 330px;
	margin: 12px 0;
}

.eni-product-image {
	height: 330px;
	width: 330px;
}

.eni-product-title {
	width: 300px;
	word-break: break-all;
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.5;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.eni-product-price {
	margin-top: 10px;
	font-size: 28px;
	line-height: 1.5;
	position: relative;
}

.eni-product-price-original {
	color: #e80080;
}

.eni-product-price-favour {
	color: #888888;
	text-decoration: line-through;
	margin-left: 10px;
}

.eni-product-tip {
	position: absolute;
	right: 10px;
	background-color: #ff3333;
	color: #ffffff;
	padding: 0 10px;
	border-radius: 5px;
}

/* timeline */
.eni-timeline {
	margin: 35px 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

.eni-timeline-item {
	display: flex;
	flex-direction: row;
	position: relative;
	padding-bottom: 20px;
	box-sizing: border-box;
	overflow: hidden;

}

.eni-timeline-item .eni-timeline-item-keynode {
	width: 160px;
	flex-shrink: 0;
	box-sizing: border-box;
	padding-right: 20px;
	text-align: right;
	line-height: 65px;
}

.eni-timeline-item .eni-timeline-item-divider {
	flex-shrink: 0;
	position: relative;
	width: 30px;
	height: 30px;
	top: 15px;
	border-radius: 50%;
	background-color: #bbb;
}



.eni-timeline-item-divider::before,
.eni-timeline-item-divider::after {
	position: absolute;
	left: 15px;
	width: 1px;
	height: 100vh;
	content: '';
	background: inherit;
}

.eni-timeline-item-divider::before {
	bottom: 100%;
}

.eni-timeline-item-divider::after {
	top: 100%;
}


.eni-timeline-last-item .eni-timeline-item-divider:after {
	display: none;
}

.eni-timeline-first-item .eni-timeline-item-divider:before {
	display: none;
}

.eni-timeline-item .eni-timeline-item-content {
	padding-left: 20px;
}

.eni-timeline-last-item .bottom-border::after {
	display: none;
}

.eni-timeline-item-content .datetime {
	color: #CCCCCC;
}

/* 自定义节点颜色 */
.eni-timeline-last-item .eni-timeline-item-divider {
	background-color: #1AAD19;
}


/* uni-icon */

.eni-icon {
	font-family: uniicons;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

/* 分界线 */
.eni-divider {
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.eni-divider__content {
	font-size: 28px;
	color: #999;
	padding: 0 20px;
	position: relative;
	z-index: 101;
	background: #F4F5F6;
}

.eni-divider__line {
	background-color: #CCCCCC;
	height: 1px;
	width: 100%;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 0;
	transform: translateY(50%);
}

/* special */
.add-box .eni-textarea{
		width: 100%;
}